.button {
  padding: 0.4rem;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #e7f5ff;
  border-color: #e7f5ff;
  color: #111;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
